<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1 " />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Web App</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head> 
<body>
<div class="main-naranja">
  <div class="container">
  	<div class="info-lugar">Registro Civil N&ordm; 7<br>
  	  Gobierno de la Ciudad<br>
    Av. Cabildo 3689</div>
    <div class="ingresar-ticket-blanco">Acercate al box</div>
    <div class="numero-ticket-blanco">N&ordm; 9</div>
  </div>
  <div class="entrar-blanco">
    <div class="icon"></div>
    <span class="icon"><img src="img/icono-entrar-blanco.png" alt="Entrar" width="22" height="19"></span> ir al box</div>
</div>
</body>
</html>