<!--<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1 " />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Web App</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head> 
<body>
<div class="main">
  <form name="buscador-barrios" method="post" action="">
    <input type="text" name="form" id="form" class="form-buscar">
  </form>
  <table width="375" border="0" cellspacing="0" cellpadding="0" class="listado-barrios">
    <tr>
      <td><a href="#">Agronom&iacute;a</a></td>
    </tr>
    <tr>
      <td><a href="#">Almagro</a></td>
    </tr>
    <tr>
      <td><a href="#">Balvanera</a></td>
    </tr>
    <tr>
      <td><a href="#">Belgrano</a></td>
    </tr>
    <tr>
      <td><a href="#">Boedo</a></td>
    </tr>
    <tr>
      <td><a href="#">Caballito</a></td>
    </tr>
    <tr>
      <td><a href="#">Chacarita</a></td>
    </tr>
    <tr>
      <td><a href="#">Coghlan</a></td>
    </tr>
    <tr>
      <td class="listado-activado"><a href="#">Colegiales</a></td>
    </tr>
    <tr>
      <td><a href="#">Flores</a></td>
    </tr>
    <tr>
      <td><a href="#">Floresta</a></td>
    </tr>
    <tr>
      <td><a href="#">La Boca</a></td>
    </tr>
    <tr>
      <td><a href="#">La Paternal</a></td>
    </tr>
  </table>
</div>
</body>
</html>-->
<ion-view cache-view="false"  scroll="true">
            <ion-header-bar align-title="center">
                <h1 class="title">Seleccione una sucursal</h1>
            </ion-header-bar>
            <ion-content class="has-header"   detect-gestures gesture-type="swiperight">
                <ul class="list">
                    <li class="item search-box" style="border-width:inherit">
                        <div class="item-input item-input-wrapper design-cls">
                            <i class="icon ion-ios-search search-icon" style="font-size: 29px;"></i>
                            <input type="text" class="location-search" ng-change="searchBranch(branchNameSearch)" placeholder="" ng-model="branchNameSearch" />
                        </div>

                    </li>
                </ul>
                <ul class="list">
                    <li class="item" ng-repeat="value in branchName" ng-click="goToTicketSearch(value)" >
                        {{value.SitioDireccion}}
                    </li>                   
                </ul>
            </ion-content>
            
   
</ion-view>