<ion-view hide-nav-bar="true">
<i class="icon ion-ios-arrow-back bck-btn" onclick="window.history.go(-1)"></i>
    <ion-content>
       
    <div class="main-naranja">
        <div class="container">
          <div class="info-lugar" style="font-size:18px;color:black">Es su turno</div>
            <div class="ingresar-ticket-blanco" style="color:black;border-color:black">Ac&eacute;rquese al puesto</div>
            <div class="numero-ticket-blanco" style="color:black"><span style="font-size:20px;color:black">N&ordm;</span> {{data.Posicion}}</div>
        </div>
        <div class="info-lugar" style="padding:0px;color:black">
           {{data.branchName}}
        </div>
    </div>
        </ion-content>
    <!--<ion-footer-bar class="n9">
        <div class="entrar-blanco">
            <div class="icon"></div>
            <span class="icon"><img src="img/icono-entrar-blanco.png" alt="Entrar" width="22" height="19"></span> ir al box
        </div>
    </ion-footer-bar>-->
</ion-view>