<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Search</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item search-box" style="border-width:inherit">
                <div class="item-input item-input-wrapper design-cls">
                    <i class="icon ion-ios-search search-icon" style="font-size: 29px;"></i>
                    <input type="text" class="location-search" placeholder="" ng-model="ticketNo" />
                </div>

            </li>
        </ul>
        <ul class="list">
            <li class="item">
                Av Cabildo 3568
            </li>
            <li class="item">
                Anasagasti 8559
            </li>
            <li class="item">
                Bulnes 569

            </li>
            <li class="item">
                Congreso 8974
            </li>
            <li class="item">
                Del Rio 5547
            </li>
            <li class="item">
                Estanislao del Campo 1123
            </li>
            <li class="item">
                Finlandia 2219
            </li>
            <li class="item">
                Gurruchaga 7615
            </li>
            <li class="item">
                Guillermo Brown 2001
            </li>
            <li class="item">
                Humberto Primo 12
            </li>
            <li class="item">
                Ismael Ferrer 1123
            </li>
            <li class="item">
                La Boca
            </li>
            <li class="item">
                La Paternal
            </li>
        </ul>
        
    </ion-content>
    <ion-footer-bar style="border-top: 1px solid #aaaaaa;">
        <div style="text-align:center;width:100%">
            <i class="icon ion-android-close" ng-click="closeModal()" style="font-size:40px"></i>
        </div>
    </ion-footer-bar>
</ion-modal-view>