<ion-view>
    <ion-content>

<div class="main">
  <div class="container">
		<img src="img/bg-logo.jpg" style="width:100vw">
    	<div class="mensaje-final" ng-init="showSuccess=false" ng-show="showSuccess">Gracias por haber <br>
   	    utilizado VIA Q. <br>
   	    <br>
   	    Ya sabe c&oacute;mo hacer <br>
   	    para <strong>no esperar m&aacute;s en filas.    	</strong></div>
    <div class="tiempo-espera" ng-show="!showSuccess">
   	   
        <p>&iquest;C&oacute;mo lo atendieron?</p>
    	  <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto">
    	    <tr ng-click="showSuccess=true" >
                <td width="30" style="text-align:center"><i class="icon ion-android-star" ng-class="(reviewStar>=1)?'ion-android-star-cust':'ion-android-star-cust-grey'" ng-click="reviewStar=1"></i></td>
                <td width="30" style="text-align:center"><i class="icon ion-android-star" ng-class="(reviewStar>=2)?'ion-android-star-cust':'ion-android-star-cust-grey'" ng-click="reviewStar=2"></i></td>
                <td width="30" style="text-align:center"><i class="icon ion-android-star" ng-class="(reviewStar>=3)?'ion-android-star-cust':'ion-android-star-cust-grey'" ng-click="reviewStar=3"></i></td>
                <td width="30" style="text-align:center"><i class="icon ion-android-star" ng-class="(reviewStar>=4)?'ion-android-star-cust':'ion-android-star-cust-grey'" ng-click="reviewStar=4"></i></td>
                <td width="30" style="text-align:center"><i class="icon ion-android-star" ng-class="(reviewStar>=5)?'ion-android-star-cust':'ion-android-star-cust-grey'" ng-click="reviewStar=5"></i></td>
  	        </tr>
  	    </table>
    </div>
  <!--  <div class="line"></div>-->
  
  </div>
</div>
    </ion-content>
    <ion-footer-bar style="height: 150px;border:none;background-position: bottom">

        <div class="tiempo-espera">
            <div class="line"></div>
            <p>
                Comparta la app en redes sociales
            </p>
            <table width="240" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto">
                <tr>
                    <td width="40" style="text-align:center">
                         <img src="img/icon-fb.png" ng-click="ShareFacebook()" width="32" height="32" alt="Facebook"></td>
                    <td width="40" style="text-align:center"><img src="img/icon-ln.png" ng-click="ShareLinkedIn()" width="32" height="32" alt="Linkedin"></td>
                    <td width="40" style="text-align:center"><img src="img/icon-twt.png"  ng-click="ShareTwitter()" width="32" height="32" alt="Twitter"></td>
                    <td width="40" style="text-align:center"><img src="img/icon-ins.png" ng-click="ShareInstagram()"  width="32" height="32" alt="Instagram"></td>
                    <td width="40" style="text-align:center"><img src="img/icon-yt.png" width="32" height="32" alt="You Tube"></td>
                    <td width="40" ng-click="ShareGooglePlus()" style="text-align:center"><img src="img/icon-g.png" width="32" height="32" alt="Google+"></td>
                </tr>
            </table>
        </div>
    </ion-footer-bar>
</ion-view>

