<ion-view hide-nav-bar="true">
   <i class="icon ion-ios-arrow-back bck-btn" onclick="window.history.go(-1)"></i>
        <ion-content style="height:100vh">

            <div class="main" style="height:85vh;">
                <form ng-submit="checkTicketDescription(data)">
                    <div class="container">
                        <img src="img/bg-top.jpg" style="width: 100vw;" />
                        <div class="ingresar-ticket">Ingrese su ticket</div>
                        <div class="numero-ticket"><input type="text" style="height:43px;border: 1px solid #b3b3b3;border-radius: 6px;" data-ng-model="data.ticketNo" class="input-search" /></div>
                        <!--   <div class="circulo-amarillo"></div>-->

                    </div>
                </form>
    </div>
   
    </ion-content>
   <ion-footer-bar keyboard-attach style="height: 83px;border:none;background-position: bottom">
       <div class="entrar" ng-click="checkTicketDescription(data)">
           <div class="icon"></div>
           <span class="icon"><img src="img/icono-entrar.png" alt="Entrar" width="21" height="19"></span> ENTRAR EN LA FILA
       </div>
   </ion-footer-bar>

</ion-view>

