@charset "utf-8";
/* CSS Document */

.main-home { 

height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;
background-color: #e8380f;

	}
.location-search{
    margin-left: 12px !important;
   
}

.modal_cust.modal{
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
 min-height: 10%; 
    height: 175px;
    border: 1px solid red;
    width: 70%;
    top: 33%;
    left: 15%;
    right: 15%;border-radius:7px;
    bottom: 25%;
    /* width: 100%; */
    background-color: #fff;
}
.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}
.back-button > .back-text > .default-title {
    display:none;
}
.n9{
    background-color:#d84725;
    height: 83px;border:none;background-position: bottom;
}
.design-cls{
    border: 1px solid #aaaaaa;
    background-color: white;
}
	.location-search .item-input .icon {
    min-width: 14px;
    top: 13px;
    right: -9px;
}
    .add-btn {
    top: 12px;
    right: -10px;
}
    .search-box{
        padding:5px;
    }
    .add-btn{
    font-size: 17px;
    color: rgb(4, 163, 163);
}
    .icon-align-right {
    right: 0px;
    margin-right: 29px;
    position: absolute;
    top: 26px;
    font-size: 26px;
}
    .upperAddTaskHome .icon-align-right {
    font-size: 26px;
    color: #868686;
    top: 16px;
}
.main { 
/*max-width: 375px;
height: 667px*/
	}
	.input-search{
        width: 100%;
    font-size: 25px !important;
  
    text-align: center;
	}
		
.main-naranja { 

height: 100vh;
background-color:rgb(240,240,240);
	}
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
.logo {
	margin: 0px auto;
	padding: 150px 10px 20px 10px;
	width: 265px;
	height: 135px;
	}
	
.comenzar {
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	width: 160px;
	margin: 250px auto 0px auto;
	padding: 10px 0px;
	font-weight: 800;
	}
.ion-android-star-cust-grey{
    color:#F0F0F0;
    font-size:37px
}
.ion-android-star-cust{
    color:black;
    font-size:37px
}
.slogan {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #FFF;
	width: 250px;
	margin: 0px auto 0px auto;
	padding: 10px 0px;
	}

a {
	text-decoration: none;
	}

.ingresar-ticket {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #333;
	border-bottom: 1px solid #333;
	width: 200px;
	margin: 65px auto 0px auto;
	padding-bottom: 10px;
}

svg{
  width: 40px;
  height: 40px;
 
  display:inline-block;
}
.numero-ticket {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	
	width: 204px;
	margin: 0px auto;
	font-weight: 800;
	font-size: 72px;
	line-height: 72px;
	padding-top: 10px;
}

.numero-ticket-blanco {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: #FFF;
	width: 250px;
	margin: 0px auto;
	font-weight: 800;
	font-size: 72px;padding-top: 32px;
}

.numero-personas {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	
	width: 250px;
	margin: 0px auto;
	padding-top: 5px;
}

.ingresar-ticket-blanco {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	width: 250px;
	margin: 0px auto;
	padding:10px 0px;
	border-bottom:1px solid #FFF;
}  


.info-lugar {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	width: 250px;
	margin: 0px auto;
	padding: 100px 0px;
} 

.circulo-amarillo {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-color: #fbb03b;
	margin: 10px auto;
}

.right {
	float:right;
	}
.loading{
    padding:5px !important;
    color:black !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.circulo-amarillo-chico {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #fbb03b;
	margin:0px auto;
}

.circulo-verde-chico {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #39b54a;
	margin:0px auto;
}

.circulo-rojo-chico {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #ed1c24;
	margin:0px auto;
}
.entrar {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #333;
	border-top: 1px solid #333;
	width: 300px;
	font-weight: 800;
	padding:20px;
	margin: 10px auto;
	text-transform: uppercase;
}

.entrar-blanco {
	color: #FFF;
	border-top: 1px solid #FFF;
	width: 300px;
	font-weight: 800;
	padding:20px;
	margin: 10px auto;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}
.container {
	/* height: 418px; */
	height: 468px;
	}
.tiempo-espera {
	margin: 10px auto;
	width: 300px;
	padding-top: 10px;
	font-family: 'PT Sans', sans-serif;
	font-size:14px;
	text-align:center;
	font-style:italic;
}

.tiempo-espera p {
	padding-bottom:5px;
	margin:0px;
}

.mensaje-final {
	margin: 10px auto;
	width: 300px;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	
	padding-bottom: 30px;
	padding: 30px 0px;
	text-align: center;
}
.line	{
	margin: 0px auto;
	padding: 2px;
    margin-bottom: 15px;
	border-bottom: 1px solid #333;
	width:300px;
	}
.form-buscar {
	padding: 10px 10px 10px 50px;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	color: #333;
	width: 315px;
	margin: 10px auto;
	background-image: url(../img/icono-lupa.png);
	background-repeat: no-repeat;
	background-position: left center;
	border: 1px solid #CCCCCC;
	background-position: 10px;
	}

.listado-barrios {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #333;
	}

.listado-barrios a {
	color: #333333;
	}
	
.listado-barrios a:hover {
	color: #d84725;
	}
	
	
.listado-barrios td {
		border-bottom:1px solid #CCCCCC;
		padding: 12px;
	}
	
.listado-activado {
	background-color:#d84725;
	color:#FFF;
	}	
	
.listado-activado a {
	color:#FFF;
	}	

.listado-activado a:hover {
	color:#FFF;
	}	
.bck-btn{
	position: absolute;
    left: 10px;
    top: 10px;
    font-size: 43px;
    color: white;
    z-index: 1022;
}